.skill {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.skillType {
    font-weight: 600;
}

.gridContainer {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.gridItem:nth-of-type(even) {
    margin-left: 10px;
}