.basicInfoWrapper {
	display: flex;
	justify-content: space-between;
}

.basicInfoWrapper h1 {
	font-family: 'PT Serif', serif;
}

.basicInfoWrapper h2 {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.userInfoWrapper {
	display: flex;
	align-items: center;
	font-family: 'Mukta', sans-serif;
}

.userInfoWrapper hr {
	height: 95%;
}

.userInfo div {
	display: flex;
	font-size: 14px;
	align-items: center;
}

.userInfo p {
	margin: 0px;
	padding-top: 3px;
}

.userInfo i {
	margin: 5px;
	color: #c3c3c3;
}

.userInfo a {
	color: #409ec3;
	padding-top: 3px;
    text-decoration: none;
}